ul#games
  - for(game in games){
    li
      a(href='/game/#{game}')
        | Players:
        = games[game].grid.players.length
        \ -
        |Score:
        = games[game].grid.score
  - }

p
  a(href="/game/#{newGame}") Start a new game
