p
  = playerCount
  |  people played
  = gameCount
  |  games so far


ul#games
  - for(game in games){
    - if (games[game].grid.players.length < 11){
      li
        a(href='/game/#{game}')
          | Players:
          = games[game].grid.players.length
          \ -
          |Score:
          = games[game].grid.score
    - }
  - }

p
  a(href="/game/#{newGame}") Start a new game
