!!! 5
html(lang="en")
  head
    title Tetris
    link(rel="stylesheet", type="text/css", href="/stylesheets/tetris.css")
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
  body
    #wrapper
      h1 Metris
      != body
      footer
        a(href='http://forwardtechnology.co.uk') Forward Technology
        a.twitter(href='https://twitter.com/intent/tweet?via=forwardtek&text=Play massively multiplayer tetris with me http://bit.ly/metris #metris #nodeknockout')
          img(src='https://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_32_black.png')
        iframe#vote(src='http://nodeknockout.com/iframe/forward', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
    script(type="text/javascript")
      var pusher_key = '#{pipe_key}';
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="http://js.pusherapp.com/1.10.1-pre/pusher.min.js")
    script(type="text/javascript", src="/javascripts/gamesoup/jsgamesoup.js")
    script(type="text/javascript", src="/javascripts/tetris.js")
    script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25371622-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
